<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/not-found.css">
    <title>Страница не найдена</title>
</head>

<body>
    <header>
        <div class="catalog-info">
            <a href="/" class="main-text">Главная</a>
        </div>
        <div class="search-bar">
            <span class="not-found"></span>
        </div>
        <div class="user-cart-info">
            <% if (user) { %>
                <button class="user-info">
                    <a href="/profile"><%= user.Login %></a>
                </button>
                <% if (user.Login !== 'admin') { %>
                <button class="cart">
                    <a href="/cart">Корзина: <%= cartCount %> товаров</a>
                </button>
                <% } %>
            <% } else { %>
                <button class="user-info">
                    <a href="/login">Войти</a>
                </button>
            <% } %>
        </div>
    </header>

    <div class="error-container">
        <h1>Ошибка 404</h1>
        <p>Запрошенная страница не найдена.</p>
        <p>Ты как сюда вылез, чувак?</p>
    </div>
</body>
</html>