<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Личный кабинет</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/feedback.css">
</head>

<body>
    <header>
        <div class="catalog-info">
            <a href="/" class="main-text">Главная</a>
        </div>
        <div class="search-bar">
            <span class="personal-profile">Личный кабинет</span>
        </div>
        <div class="user-cart-info">

            <button class="user-info">
                <a href="/profile">
                    <%= username %>
                </a>
            </button>

            <button class="cart">
                <a href="/cart">Корзина: <%= cartCount %> товаров</a>
            </button>

        </div>
    </header>

    <div class="profile-container">
        <p>Добро пожаловать, <b>
                <%= username %>
            </b>!</p>
        <% if (isAdmin) { %>
                <button id="btn-view-feedbacks" type="button" class="feedback">Посмотреть жалобы</button>
            <% } else {%>
                    <button id="btn-add-feedbacks" type="button" class="feedback">Обратная связь</button>
                <% } %>
                    <form action="/logout" method="POST">
                        <button type="submit" class="logout">Выйти</button>
                    </form>
    </div>

    <% if (isAdmin){%>
        <div class="feedbacks" style="display: none;">
            <h1>Список фидбеков</h1>
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Тема</th>
                        <th>Сообщение</th>
                        <th>Дата создания</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody id="feedbacks-body">

                </tbody>
            </table>
        </div>
        
    <% } else {%>
        <div class="feedback-container">
            <h2>Напишите нам</h2>
            <form class="feedback-form" id="feedback-form">
                <div class="form-group">
                    <label for="email">Ваш Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Тема:</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Сообщение:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>
                <button type="submit">Отправить</button>
            </form>
        </div>
    <%}%>

    <div id="notification">
    </div>
</body>

<script src="/js/profile.js"></script>

</html>