body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-info {
    margin-left: 150px;
}

.main-text {
    margin-right: 35px;
    font-weight: bold;
    cursor: pointer;
    color: white; 
    text-decoration: none;
}

.catalog-text {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.catalog-info .catalog-text:hover {
    color: #e6e6e6; 
}

.search-bar {
    display: flex;
}

.action{
    margin: 12px;
    font-weight: bold;
    font-size: 24px;
    color: white; 
}

.user-cart-info {
    margin-right: 150px;
    display: flex;
    align-items: center;
}

.user-info {
    margin-right: 5px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    background-color: #358137;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-info a {
    color: white; 
    text-decoration: none;
}

.user-info:hover {
    background-color: #388e3c;
}

.username {
    font-weight: bold;
}

form {
    width: 50%;
    margin: 30px auto;
}

input[type="text"],
input[type="submit"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"] {
    display: block;
    margin: 10px auto;
    width: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.feedbacks {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Ширина блока */
}

.feedbacks h1 {
    text-align: center;
}

.feedbacks table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden; /* Скрываем содержимое, выходящее за пределы таблицы */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.feedbacks th,
.feedbacks td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Горизонтальные линии разделения */
    overflow-wrap: break-word;
    max-width: 300px;
}

.feedbacks th {
    background-color: #f2f2f2; /* Цвет фона для заголовков */
}

.feedbacks button.delete-feedback {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #ff6347; /* Цвет кнопки */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedbacks button.delete-feedback:hover {
    background-color: #ff4433; /* Измененный цвет кнопки при наведении */
}

.admin-controls{
    text-align: center;
}
/* Стили для кнопок */
.admin-controls button {
    
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50; /* Зеленый */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-controls button:hover {
    background-color: #45a049; /* Темно-зеленый */
}

/* Скрытие форм по умолчанию */
.add-product-form,
.ed-product-form,
.delete-product-form {
    display: none; /* скрыты изначально */
}

/* Стили для форм */
form {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

