/* style.css */

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

.login-form {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.login-form input{
    margin-top: 15;
    margin-bottom: 15px;
}

.login-form p {
    margin-top: 10px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 97%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #45a049;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #4CAF50;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

header {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-info {
    margin-left: 150px;
}

.main-text {
    margin-right: 35px;
    font-weight: bold;
    cursor: pointer;
    color: white; 
    text-decoration: none;
}

.catalog-text {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.catalog-info .catalog-text:hover {
    color: #e6e6e6; 
}

.search-bar {
    display: flex;
}

.personal-profile{
    margin: 12px;
    font-weight: bold;
    font-size: 24px;
    color: white; 
}

.user-cart-info {
    margin-right: 50px;
    align-items: center;
}

.user-info {
    margin-right: 5px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    background-color: #358137;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-info:hover {
    background-color: #388e3c;
}

.username {
    font-weight: bold;
}

.cart {

    text-decoration: none;
    background-color: #358137;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart a{
    text-decoration: none;
    color: white;
}

.cart:hover {
    background-color: #388e3c;
}

.user-info a {
    color: white; 
    text-decoration: none; 
}
